body{
  background-color: antiquewhite;
font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.title{
  text-align: center;
  color: blueviolet;
  font-weight: bold;
  
}
.img-grid{
  margin:20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.progress-bar{
  height: 5px;
  background: brown;
  margin-top: 20px;
}

.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 0.8;
}

.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-height: 150%;
  position: absolute;
  top: 0;
  left: 0;
}
